@font-face {
    font-family: RussoOne;
    src: url('../fonts/RussoOne/Russo_One.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.background__color {
    background: black;
}

.background__wrapper {
    background: url('../img/background.png') no-repeat right top;
    background-size: 50%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 175px 0 0;
    color: white;
}

.main__info {
    color: #7BA9FF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
}

.main__title {
    font-family: RussoOne;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    margin-bottom: 35px;
}

.title__text__box {
    border-left: 1px solid #FFFFFF;
    margin: 0 0 75px 80px;
}

.title__text {
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.title__text:first-child {
    max-width: 650px;
    margin-bottom: 10px;
}

.title__text:last-child {
    max-width: 510px;
}

.main__buttons__box {
    margin: 0 0 245px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 100px;
    border-radius: 50px;
}

.main__button:first-child {
    color: black;
    background: linear-gradient(90deg, #A3BDED 0%, #6991C7 100%);
    box-shadow: 8px 8px 25px rgba(163, 189, 237, 0.65);
}

.main__button:first-child:hover {
    box-shadow: none;
}

.main__button:last-child {
    color: #A3BDED;
    border: 1px solid #A3BDED;
    margin-left: 35px;
}

.main__cases__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 140px;
}

.main__case {
    width: 32%;
    height: 330px;
    background: #000000;
    box-shadow: 10px 10px 35px rgba(163, 189, 237, 0.3);
    border-radius: 40px;
    padding: 50px 40px 0;
}

.case__title__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    margin-bottom: 15px;
}

.case__title {
    position: relative;
    flex-grow: 1;
}

.case__title h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #A3BDED;
}

.case__number {
    color: black;
    font-family: RussoOne;
    font-weight: 400;
    font-size: 73px;
    line-height: 88px;
    -webkit-text-stroke: 1px #242A34;
}

.case__line {
    top: calc(100% + 10px);
    position: absolute;
    width: 80px;
    height: 1px;
    background: white;
}

.case__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
}

.study__title__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;
}

.line {
    width: 130px;
    height: 1px;
    background: white;
}

.study__title {
    font-family: RussoOne;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    margin-left: 50px;
}

.course__for {
    margin-bottom: 140px;
}

.course__for__boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course__for__box {
    width: 32%;
    height: 285px;
    padding: 35px 40px 0;
    border: 1px solid #A3BDED;
    border-radius: 40px;
}

.course__for__box__title__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    height: 65px;
}

.course__for__box__img {
    height: 100%;
    width: 80px;
}

.course__for__box:nth-child(1) .course__for__box__img {
    background: url('../img/face1.png') no-repeat left center;
    background-size: 60%;
}

.course__for__box:nth-child(2) .course__for__box__img {
    background: url('../img/face2.png') no-repeat left center;
    background-size: 60%;
}

.course__for__box:nth-child(3) .course__for__box__img {
    background: url('../img/face3.png') no-repeat left center;
    background-size: 70%;
}

.course__for__box__title__box h3 {
    color: #6991C7;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.course__for__box__title__box h3 span {
    color: white;
    font-size: 18px;
    line-height: 18px;
}

.course__for__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
}

.course__plan {
    margin-bottom: 140px;
}

.course__plan__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course__plan__content__column {
    width: 32%;
    list-style: none;
}

.course__plan__content__column li {
    background: url('../img/circle.svg') no-repeat;
    height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.course__plan__content__column li:last-child {
    margin-bottom: 0;
}

.course__plan__content__column p {
    padding-left: 65px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.course__rates {
    margin-bottom: 140px;
}

.course__rates__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course__rates__box {
    width: 48%;
    height: 430px;
    border: 1px solid #A3BDED;
    border-radius: 40px;
    padding: 45px 45px 0;
}

.course__rates__box__title__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.course__rates__box__title__box h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.course__rates__box__title__box h3 span {
    font-weight: 700;
    color: #A3BDED;
}

.course__rates__box__title__box p {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #6991C7;
    text-shadow: 5px 5px 15px rgba(163, 189, 237, 0.64);
}

.course__rates__box__title__box p span {
    padding-top: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-right: 30px;
    color: #A3BDED;
    text-shadow: none;
    text-decoration: line-through;
}

.course__rates__text {
    list-style: none;
    margin-bottom: 60px;
}

.course__rates__text li {
    padding-left: 50px;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    background-position: left center;
    background: url('../img/check.svg') no-repeat;
}

.course__rates__box:nth-child(1) .course__rates__text li:nth-child(1) {
    background: url('../img/check.svg') no-repeat;
}

.course__rates__box:nth-child(1) .course__rates__text li:nth-child(2) {
    color: #242A34;
    background: url('../img/checkDark.svg') no-repeat;
}

.course__rates__box:nth-child(1) .course__rates__text li:nth-child(3) {
    color: #242A34;
    margin-bottom: 0;
    background: url('../img/checkDark.svg') no-repeat;
}

.course__rates__button {
    width: 235px;
    height: 80px;
    background: linear-gradient(90deg, #A3BDED 0%, #6991C7 100%);
    box-shadow: 8px 8px 25px rgba(163, 189, 237, 0.65);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course__rates__button:hover {
    box-shadow: none;
}

.course__rates__button p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.who__we__are {
    margin-bottom: 140px;
}

.who__we__are__boxes {
    display: flex;
    flex-direction: column;
}

.who__we__are__row {
    display: flex;
    flex-direction: row;
}

.who__we__are__row:nth-child(2) {
    margin-top: 85px;
    justify-content: flex-end;
}

.who__we__are__box {
    position: relative;
    padding: 50px 45px 0;
    background: black;
    width: 65%;
    height: 290px;
    box-shadow: 5px 5px 48px rgba(163, 189, 237, 0.2);
    border-radius: 40px;
}

.who__we__are__box__title {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    color: #6991C7;
    margin-bottom: 25px;
}

.who__we__are__box__content {
    margin-left: 35px;
    border-left: 1px solid #FFFFFF;
    ;
}

.who__we__are__box__text {
    padding-left: 20px;
    width: 75%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.who__we__are__box__text:last-child {
    margin-top: 10px;
    width: 85%;
}

.who__we__are__box__text span {
    font-weight: 600;
    color: #A3BDED;
}

.who__we__are__row .photo {
    position: absolute;
    right: -150px;
    top: -100px;
    width: 300px;
    height: 300px;
}

.who__we__are__row:nth-child(1) .photo {
    background: url('../img/Ksusha.png') no-repeat;
    background-size: 100%;
}

.who__we__are__row:nth-child(2) .photo {
    background: url('../img/Vlad.png') no-repeat;
    background-size: 100%;
}

.who__we__are__row:nth-child(2) .who__we__are__box {
    margin-right: 150px;
}

.who__we__are__row:nth-child(3) {
    justify-content: center;
}

.who__we__are__row:nth-child(3) p {
    text-align: center;
    margin-top: 85px;
    max-width: 912px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #A3BDED;
}

.students__results {}

.students__results__boxes {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    padding-left: 320px;
    padding-right: 320px;
    padding-bottom: 20px;
}

.students__results__boxes::-webkit-scrollbar {
    width: 100%;
    height: 5px;
}

.students__results__boxes::-webkit-scrollbar-thumb {
    background: #A3BDED;
    height: 5px;
    width: 10%;
}

.students__results__box {
    width: 410px;
    position: relative;
    color: white;
    height: 695px;
    border: 1px solid #A3BDED;
    border-radius: 40px;
    padding: 30px 30px 0;
    margin-right: 30px;
}

.students__results__box:last-child {
    margin-right: 0;
}

.students__results__box__title__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.box__photo {
    width: 100px;
    height: 100px;
}

.students__results__box:nth-child(1) .box__photo {
    background: url('../img/Diana.png') no-repeat;
    background-size: 100%;
}

.students__results__box:nth-child(2) .box__photo {
    background: url('../img/Angelina.png') no-repeat;
    background-size: 100%;
}

.students__results__box:nth-child(3) .box__photo {
    background: url('../img/Elizaveta.png') no-repeat;
    background-size: 100%;
}

.students__results__box:nth-child(4) .box__photo {
    background: url('../img/Ekaterina.png') no-repeat;
    background-size: 100%;
}

.students__results__box .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    position: relative;
}

.students__results__box .title .line {
    width: 55px;
}

.students__results__box .title h3 {
    margin-left: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #6991C7;
}

.students__results__box .title a {
    position: absolute;
    bottom: -100%;
    color: white;
    padding-left: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    background: url('../img/instagram.svg') no-repeat left center;
}

.students__results__box__text__box.last {
    margin: 42px 0;
}

.students__results__box__text__box .text__box__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #A3BDED;
    margin-bottom: 17px;
}

.students__results__box__text__box p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 11px;
}

.students__results__box__text__box p:last-child {
    margin-bottom: 0;
}

.students__results__box__text__box p span {
    font-weight: 500;
    color: #A3BDED;
}

.students__results__box__button {
    bottom: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 75px;
    border: 1px solid #A3BDED;
    border-radius: 50px;
}

.students__results__box__button p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A3BDED;
}

footer .container {
    padding: 200px 0 0;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__title p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7BA9FF;
    margin-bottom: 5px;
}

.footer__title h1 {
    font-family: RussoOne;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
}

.footer__title a {
    padding-left: 20px;
    background: url('../img/instagram.svg') no-repeat left 4px;
    color: white;
}

.footer__info p {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.footer__info p:last-child {
    margin-bottom: 0;
}

.footer__rights {
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top: 1px solid white;
}

.footer__rights p {
    text-align: center;
}

@media (min-width: 769px) and (max-width: 1366px) {
    .container {
        max-width: 1080px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .students__results__boxes {
        padding-left: 25px;
        padding-right: 25px;
    }
    footer .container {
        padding: 120px 25px 0;
    }
}

@media (max-width: 1023px) {
    .background__wrapper {
        background: url('../img/mobile__bg.png') no-repeat;
        background-size: 100%;
    }
    .container {
        max-width: 100%;
        padding: 150px 15px 0;
    }
    .main__info {
        width: 55%;
        font-size: 14px;
        line-height: 17px;
    }
    .main__title {
        width: 80%;
        font-size: 43px;
        line-height: 52px;
    }
    .title__text__box {
        margin-left: 0;
    }
    .title__text {
        font-size: 14px;
        line-height: 17px;
    }
    .main__buttons__box {
        margin-left: 0;
        justify-content: center;
        margin-bottom: 100px;
    }
    .main__button {
        width: 80%;
    }
    .main__button:last-child {
        margin-top: 30px;
        margin-left: 0;
    }
    .line {
        width: 55px;
    }
    .study__title__box {
        margin-bottom: 35px;
    }
    .study__title {
        margin-left: 15px;
        font-size: 27px;
        line-height: 32px;
    }
    .main__cases__block {
        flex-direction: column;
        margin-bottom: 120px;
    }
    .main__case {
        width: 100%;
        padding: 50px 25px;
        margin-bottom: 30px;
        min-height: 330px;
    }
    .case__text {
        font-size: 14px;
    }
    .case__title h3 {
        font-size: 18px;
        line-height: 22px;
    }
    .main__case:last-child {
        margin-bottom: 0;
    }
    .course__for__boxes {
        flex-direction: column;
        margin-bottom: 120px;
    }
    .course__for__box {
        width: 100%;
        padding: 40px 25px 50px;
        height: auto;
        min-height: 300px;
        margin-bottom: 30px;
    }
    .course__for__box:last-child {
        margin-bottom: 0;
    }
    .course__for__box__title__box h3 {
        font-size: 18px;
        line-height: 22px;
    }
    .course__for__box__title__box h3 span {
        font-size: 16px;
        line-height: 20px;
    }
    .course__for__text {
        font-size: 14px;
        line-height: 20px;
    }
    .course__plan__content {
        flex-direction: column;
    }
    .course__plan__content__column {
        width: 100%;
        margin-bottom: 24px;
    }
    .course__plan__content__column p {
        font-size: 16px;
        line-height: 20px;
    }
    .course__plan__content__column:last-child {
        margin-bottom: 0;
    }
    .course__rates__boxes {
        flex-direction: column;
    }
    .course__rates__box {
        width: 100%;
        height: auto;
        padding: 40px 24px 50px;
    }
    .course__rates__box:first-child {
        margin-bottom: 30px;
    }
    .course__rates__text li {
        height: auto;
        font-size: 16px;
    }
    .who__we__are__box {
        width: 100%;
        height: auto;
        padding: 40px 24px 50px;
    }
    .who__we__are__box__title {
        font-size: 24px;
        line-height: 29px;
    }
    .who__we__are__row .photo {
        width: 120px;
        height: 120px;
        right: 15px;
        top: -40px;
    }
    .who__we__are__box__content {
        margin-left: 0;
        border: none;
    }
    .who__we__are__box__text {
        padding-left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .who__we__are__box__text:last-child {
        width: 100%;
    }
    .who__we__are__row:nth-child(2) .who__we__are__box {
        margin-right: 0;
    }
    .who__we__are__row:nth-child(3) p {
        font-size: 24px;
        line-height: 29px;
    }
    .students__results__boxes {
        padding-left: 15px;
        padding-right: 15px;
    }
    .students__results__box {
        width: 345px;
    }
    .students__results__box__text__box.last {
        margin-top: 30px;
    }
    footer .container {
        padding: 160px 15px 0;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__title {
        margin-bottom: 35px;
    }
    .footer__title h1 {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 5px;
    }
    .footer__rights {
        margin-top: 25px;
    }

    .footer__rights p {
        font-size: 13px;
    }
}